 .App-section {
    
     display:flex;
   
 }

 .App {
     display: flex;
     flex-direction: column;
 }
 h1 {
     text-align:center;
     color:red;
     font-size:50px;
     font-family: 'Times New Roman';
 }